{% extends "base.html" %}
{% load static %}

{% block title %}Word by Word Syntax and Morphology{% endblock %}

{% block header_scripts %}
  <script src="{% static 'js/jsoop.js' %}"></script>
  <script src="{% static 'js/string.js' %}"></script>
  <script src="{% static 'morphology/js/document.js' %}"></script>
  <script src="{% static 'morphology/js/segment.js' %}"></script>
  <script src="{% static 'morphology/js/descriptor.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/quran-info.js' %}">
  </script>
{% endblock %}

{% block content %}
  <div ng-app="morphologyModule" ng-controller="Morphology">
    <p class="first">
      Welcome to the <a href="/">Quranic Arabic Corpus</a>, an annotated
      linguistic resource which shows the Arabic grammar,
      syntax and morphology for each word in the Holy Quran. Click on an
      Arabic word
      below to see details of the word's grammar, or to suggest a correction.
    </p>

    <!-- Chapter and verse selectors -->
    <table border="0">
      <tbody>
      <tr>
        <td>
          <select id="chapterTitles"
                  ng-model="selectedChapter"
                  ng-options="c.fullTitle for c in chapters"
                  ng-click="chapterSelected()">
          </select>
        </td>
        <td>
          <select id="verses"
                  ng-model="selectedVerse"
                  ng-options="verse for verse in verses"
                  ng-click="verseSelected()">
          </select>
        </td>
        <td>
          <button id="loadTokens" type="button" ng-click="loadTokens()">Go</button>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- Basmala -->
    <div id="basmala" class="basmala" style="display: none;">
      <img data-ng-src="{% static "img/basmala.png" %}">
    </div>

    <!-- Chapter Title -->
    <h3 id="chapterName" class="chapterName"></h3>

    <!-- Morphology -->
    <table class="morphologyTable" style="" border="0">
      <tbody>
      <tr class="head">
        <th>Translation</th>
        <th>Arabic word</th>
        <th class="head3">Syntax and morphology</th>
      </tr>
      <tr ng-repeat="token in tokens" data-my-repeat-directive>
        <td>
          <div class="location">
            ([[token.chapter_no]]:[[token.verse_no]]:[[token.token_no]])
          </div>
          <div class="phonetic">
          [[token.phonetic]]
          </div>
          [[token.translation]]
        </td>
        <td><img data-ng-src="http://corpus.quran.com/wordimage?id=[[ token.token_id]]" /></td>
        <td style="text-align: right;">
          <div ng-repeat="segment in token.segments">
            <span style="font-weight: bold;" class="segment_[[ segment.partOfSpeech ]]">
              [[ segment.partOfSpeech ]]
            </span>
            -
            <span>[[ segment.description ]]</span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
{% endblock %}

{% block footer_scripts %}
  <script type="text/javascript" src="{% static 'morphology/js/index.js' %}">
  </script>
{% endblock %}
