{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Morphology Tests</title>
  <link rel="stylesheet" href="{% static "css/qunit-1.13.0.css" %}">
</head>
<body>
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>
  <script src="{% static "js/qunit-1.13.0.js" %}"></script>
  <script src="{% static "js/jsoop.js" %}"></script>
  <script src="{% static "js/string.js" %}"></script>
  <script src="{% static 'morphology/js/enums.js' %}"></script>
  <script src="{% static "morphology/js/document.js" %}"></script>
  <script src="{% static "morphology/js/token.js" %}"></script>
  <script src="{% static "morphology/js/segment.js" %}"></script>
  <script src="{% static "morphology/js/descriptor.js" %}"></script>
  <script src="{% static "morphology/js-tests/alfatiha-segments.js" %}"></script>
  <script src="{% static "morphology/js-tests/albaqara-segments.js" %}"></script>
  <script src="{% static "morphology/js-tests/quran-segments-1~10000.js" %}"></script>
  <script src="{% static "morphology/js-tests/descriptor-tests.js" %}"></script>
  <!-- <script src="{% static "morphology/js-tests/segment-tests.js" %}"></script> -->
</body>
</html>

